<div class="about-container">
    <div class="header">About</div>
    <!-- Row 3: Marquee -->
    <div class="marquee-row">
        <div class="marquee">
          <div class="marquee-content">
            <img *ngFor="let img of images" [src]="img" alt="profile" />
            <img *ngFor="let img of images" [src]="img" alt="profile" />
            <img *ngFor="let img of images" [src]="img" alt="profile" />
          </div>
        </div>
      </div>

  <!-- Row 2: Intro text -->
  <div class="intro-row">
    <h2 class="title">Who's this guy?</h2>
    <p class="subtitle">
      I am a Software Engineer at <strong>CARS24</strong> Gurugram, IN.<br />
      I love solving problems.
    </p>
    <button (click)="viewResume()" mat-flat-button color="primary">
      View Resume
    </button>
  </div>



   <!-- Row 1: Skills -->
   <div class="skills-row">
    <div class="skills-grid">
      <app-skillset></app-skillset>
    </div>
  </div>
  </div>
  