<video *ngIf="screenSize == 'Large' || screenSize == 'XLarge' || screenSize == 'Medium'" 
       [autoplay]="true" preload="auto" [muted]="true" loop id="title-video">

  <source type="video/mp4" [src]="mp4Src" />
  <source type="video/webm" [src]="webmSrc" />
  <source type="video/mp4" [src]="m4vSrc" />
</video>

<video *ngIf="screenSize != 'Large' && screenSize != 'XLarge' && screenSize != 'Medium'" 
       [autoplay]="true" [muted]="true" loop id="title-video-lowres">

  <source type="video/mp4" [src]="mp4Src" />
  <source type="video/webm" [src]="webmSrc" />
  <source type="video/mp4" [src]="m4vSrc" />
</video>
