<!-- filepath: /Users/cars24/Personal_Repos/MyPortFolio/src/app/experience/experience.component.html -->
<div class="body">
    <div class="header">Experience</div>
    <div class="sub-header">Companies I have worked with...</div>
  
    <!-- Horizontal Carousel -->
    <swiper
    [slidesPerView]="screenSize === 'Large' || screenSize === 'XLarge' ? 3 : 1"
    [spaceBetween]="50"
    [navigation]="true"
    [autoplay]="{ delay: 1000, disableOnInteraction: true }"
    [loop]="true"
    [freeMode]="true"
    class="experience-carousel"
  >
    <ng-template swiperSlide *ngFor="let exp of experiences">
      <mat-card class="experience-card">
        <div class="image-div">
          <img class="company-logo" [src]="exp.logo" [alt]="exp.company">
        </div>
        <div class="subtitle">
          {{ exp.location }}<br>
          {{ exp.role }}<br>
          {{ exp.duration }}
        </div>
        <ul class="work-ex-list check-list">
          <li *ngFor="let point of exp.points">{{ point }}</li>
        </ul>
      </mat-card>
    </ng-template>
  </swiper>
</div>