<mat-toolbar class='nav-bar'>    
    <div class='toolbar-div'>
      <div class="toolbar-title" (click)="goToHome()">Home 
      </div>
        <div style="display: flex; justify-content: flex-end;">
            
        </div>
      
    </div>
</mat-toolbar>

  
  <div class="hero-section">
    <app-video
    [screenSize]="screenSize"
    mp4Src="../../assets/videos/hero-blog.mp4"
    webmSrc="../../assets/videos/hero-blog.mp4"
    m4vSrc="../../assets/videos/hero-blog.mp4">
  </app-video>     
    <div class="hero-overlay"></div>
    <div class="hero-content">
      <h1 class="hero-title">Dive Into Tech</h1>
      <p class="hero-subtitle">
        Discover insights, tutorials, and guides to level up your coding journey.
      </p>
    </div>
  </div>
  
  <!-- Blog Container -->
  <div class="blog-container">

  
    <div class="blog-grid">
      <app-medium-embed
        *ngFor="let post of posts"
        [post]="post"
        class="blog-card"
      ></app-medium-embed>
    </div>
  </div>
  